certifi
charset-normalizer
contourpy
cycler
filelock
fonttools
fsspec
h5py
hf-xet
huggingface-hub
idna
imageio
Jinja2
joblib
kiwisolver
kornia
kornia_rs
lazy_loader
MarkupSafe
matplotlib
mpmath
networkx
numpy
opencv-python
opencv-python-headless
packaging
pandas
pandas-stubs
pillow
pycocotools
pyparsing
PySide6
PySide6_Addons
PySide6_Essentials
python-dateutil
pytz
PyYAML
regex
requests
safetensors
scikit-image
scikit-learn
scipy
scipy-stubs
segmentation_models_pytorch
setuptools
shiboken6
six
sympy
threadpoolctl
tifffile
timm
tokenizers
torch
torchinfo
torchvision
tqdm
transformers
types-pytz
typing_extensions
tzdata
urllib3